* {
    font-family: 'Montserrat', sans-serif;
}


/*-----------------------------------------------------ШРИФТЫ----------------------------------------------------*/
.head__contacts-item {
    font-size: calc(10px + 14 * (100vw / 1920));
    font-weight: bold;
}

.head__menu-item {
    font-size: calc(10px + 14 * (100vw / 1920));
    font-weight: bold;
}

.head__btn {
    font-size: calc(10px + 14 * (100vw / 1920));
    font-weight: bold;
    color: #000;
}

.body__title {
    font-size: calc(20px + 34 * (100vw / 1920));
    font-weight: bold;
}

.body__btn {
    font-size: calc(15px + 17 * (100vw / 1920));
    color: #141414;
    font-weight: bold;
    white-space: nowrap;
}

.about__title-mobile,
.about__title {
    font-weight: bold;
    color: #141414;
    font-size: calc(20px + 34 * (100vw / 1920));
}

.about__subtitle {
    text-align: center;
    font-size: calc(14px + 11 * (100vw / 1920));
    font-weight: 800;
    color: #333;
}

.item__title {
    font-size: calc(20px + 10 * (100vw / 1920));
}

.item__text {
    font-size: calc(10px + 10 * (100vw / 1920));
}

@media(max-width: 767px) {
    /*Кнопки, элементы списка*/
    .head__menu-item,
    .head__contacts-item,
    .head__btn {
        font-size: calc(10px + (14 + 14 * .7) * ((100vw - 320px) / 1920));
    }
    .body__btn {
        font-size: calc(15px + (17 + 17 * .7) * ((100vw - 320px) / 1920));
    }
    .item__title {
        font-size: calc(20px + (10 + 10 * .7) * ((100vw - 320px) / 1920));
    }

    /*Titles*/
    .about__title-mobile,
    .about__title,
    .body__title {
        font-size: calc(20px + (34 + 34 * .7) * ((100vw - 320px) / 1920));
    }

    /*subtitles*/
    .about__subtitle {
        font-size: calc(14px + (11 + 11 * .7) * ((100vw - 320px) / 1920));
    }
}


/*---------------------------------------------------------HEADER---------------------------------------------------------*/

/* -----------------------HEADER__HEAD ------------------------*/

.head {
    display: flex;
    width: 100%;
    padding: 15px 0;
    color: #141414;
}
.head__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 95.5%;
    margin: 0 auto;
}
.head__contacts {
    display: flex;
}

.head__contacts-item:last-child {
    margin-left: 38px;
}
.head__menu {
    display: flex;
    margin-left: calc(10px + 273 * (100vw / 1920));
}

.head__menu-item {
    color: #141414;
    cursor: pointer;
}

.head__menu-item:nth-child(2) {
    margin: 0 58px;
}

.head__btns {
    display: flex;
}

.head__burger {
    display: none;
}

@media(max-width: 1270px) {
    .head__menu {
        margin: 0px;
    }

    .head__menu-item {
        margin: 0 20px !important;
    }

    .head__contacts-item:last-child {
        margin-left: 25px;
    }

    .head__menu-item {
        margin: 0 15px !important;
    }

}

.head__btn {
    display: inline-block;
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #ffa200, #ffc869);
    padding: 10px;
    border: 1px solid linear-gradient(to top, #FEBA43, #FEBA43);
    border-radius: 7px;
    box-shadow: 0 0 2px 2px #FEBA43;
    white-space: nowrap;
}

.head__btn-mobile {
    display: none;
}

@media(max-width: 495px) {
    .head__btns {
        display: none;
    }

    .head__inner {
        justify-content: space-between;
    }

    .body__btn {
        display:none;
    }

    .head__btn-mobile {
        display: block;
        margin-top: 20px;
        color: #141414;
        font-weight: bold;
        padding: 15px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.6);
    }
}


@media(max-width: 767px) {
    .head__contacts {
        flex-direction: column;
        align-items: flex-start
    }

    .head__contacts-item:last-child {
        margin-left: 0px;
        margin-top: 5px;
    }

    .body {
        position: relative;
    }

    .head__menu-item:nth-child(2) {
        margin: 50px 0;
    }
    
}


/* -------------------HEADER__BODY------------------- */

.body {
    background: url('../image/bg_1.jpg') center / cover;
    color: #141414;
}

.body__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 95.5%;
    margin: 0 auto;
    padding: 2em 0;
}

.body__btn {
    border: 5px solid #333333;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: calc(10px + 49 * (100vw / 1920)); 
    padding-right: calc(10px + 49 * (100vw / 1920));
    border-radius: 7px;
    margin-top: 1em;
}

/*---------------------------------------------------------ABOUT-------------------------------------------------*/

.about {
    padding: 44px 0 44px 0;
}

.about__container {
    max-width: 95.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title-mobile {
    display: none;
}

@media(max-width: 342px) {
    .about__title-mobile {
        display: block;
    }

    .about__title {
        display: none;
    }
}

.about__title-mobile,
.about__title {
    text-align: center;
}

.about__subtitle {
    margin-top: calc(13px + 2 * (100vw / 1920));
    max-width: 1403px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: calc(13px + 30 * (100vw / 1920));
}

@media(max-width: 745px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .item {
        max-width: 500px;
    }

    .item:nth-child(2) {
        margin: 10px 0 !important;
    }

    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(20, 20, 20, .05);
    padding: 1.5em 1.5em;
}

.item:nth-child(2) {
    margin: 0 20px;
}
.item__img {
}
.item__title {
    margin-top: 30px;
    color: #FEBA43;
    font-weight: 900;
}
.item__text {
    max-width: 471px;
    margin-top: 15px;
    text-align: center;
    color: #333;
    font-weight: 800;
}